* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "century Gothic", "Arial Narrow", Arial, sans-serif;
  background-color: #1b1f27;
  margin: 0;
  padding: 0;
  color: aliceblue;
}
/* TOP-BAR */
nav {
  display: flex;
  padding: 15px;
}
.nav-list {
  display: flex;
  list-style: none;
  margin: auto 0;
}
.nav-list li {
  letter-spacing: 2px;
  margin-left: 32px;
}
.icon {
  width: 4%;
}
a {
  text-decoration: none;
  color: white;
}
/* CONTEÚDO */
#conteiner {
  width: 888px;
  margin: auto;
}
header {
  text-align: center;
  border: 2px solid white;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("Imagens/Header-background2.jpeg");
  background-position: center;
  background-size: cover;
}
#foto {
  border-radius: 50%;
  border: 5px solid white;
}
small{
    display: block;
}
.icons {
    width: 28px;
    margin: 5px;
}
/* <!-- <MAIN></MAIN> --> */
.dtxt {
  text-decoration-line: underline;
  text-decoration-color: rgb(77, 74, 74);
}
.skill1 {
  font-size: medium;
}
.skill2 {
  font-size: large;
}
