body {
    font-family: 'century Gothic', 'Arial Narrow', Arial, sans-serif;
    background-color:#1B1F27;
    margin: 0;
    padding: 0;
    color: aliceblue;
}
#conteiner {
    width: 888px;
    margin: auto;
}
.top-bar li, ul{
    display: inline-block;
    list-style: none;
}
.top-bar {
    background-color: rgb(78, 75, 75);
}
.icon {
    width: 5%;
}
header {
    text-align: center;
}


.dtxt {
text-decoration-line: underline;
text-decoration-color: rgb(77, 74, 74);
}
.skill1 {
    font-size: medium;
}
.skill2 {
    font-size: large;
}